body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #fafafafa;
    color: #333;
}


section {
    padding: 60px 20px;
    text-align: center;
}

section {
    animation: fade 1.2s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* MUSIC BUTTON */
.music-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #bfa76a;
    color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 18px;
    cursor: pointer;
}


/* COVER */
.cover {
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover h1 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
}

.cover button {
    padding: 12px 30px;
    border: none;
    background: #bfa76a;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* AYAT */
.ayat {
    background: #f1f1f1;
}

.arab {
    font-size: 22px;
}

/* MEMPELAI */
.mempelai {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.mempelai h2 {
    font-family: 'Playfair Display', serif;
}

/* ACARA */
.card {
    background: white;
    padding: 20px;
    margin: 15px auto;
    width: 280px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* COUNTDOWN */
.countdown {
    background: #fff;
}

.time {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.time div {
    background: #f5f5f5;
    padding: 15px;
    width: 80px;
    border-radius: 8px;
}

.time span {
    font-size: 26px;
    font-weight: bold;
    color: #bfa76a;
}

.time small {
    display: block;
    font-size: 12px;
}


/* RSVP */
.rsvp input {
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
}

footer {
    background: #eee;
    padding: 20px;
}

@media (max-width: 600px) {
    .mempelai {
        flex-direction: column;
    }

    .time {
        flex-wrap: wrap;
    }
}
